body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-position: center center;
    background-size: cover;
}

.container {
    max-width: 20em;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.row {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    flex: 1;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #00529b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    color: #00529b;
    font-family: Arial;
    margin: unset;
    text-align: left;
    margin-left: 0;
}